<div id="container">
  <!-- new buttons for bluetooth -->
  <div *ngIf="!isConnected">
    <ion-button (click)="webScan()" expand="block">Connect</ion-button>
  </div>
  <!-- if connected show a badge that it is -->
  <div *ngIf="isConnected">
    <ion-badge color="success">Connected</ion-badge>
  </div>

  <!-- 3 columns -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Temp</h2>
        <div>
          <strong>{{ convertCtoF(tempService.temperature!) | number : '1.2-2'}} °F</strong>
        </div>
        <div>
          <strong>{{ tempService.temperature | number : '1.2-2'}} °C</strong>
        </div>
      </ion-col>
      <ion-col>
        <h2>Humidity</h2>
        <div>
          <strong>{{ humService.humidity | number : '1.2-2' }}%</strong>
        </div>
      </ion-col>
      <ion-col>
        <h2>Gesture</h2>
        <div>
          <strong>{{ direction }}</strong>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <h2>Accelerometer</h2>
  <div>
    <app-accelerometer [datasets]="accelService.datasets"></app-accelerometer>
  </div>
  <h2>Gyroscope</h2>
  <div>
    <app-accelerometer [datasets]="gyroService.datasets"></app-accelerometer>
  </div>
  <h2>Magnetometer</h2>
  <div>
    <app-accelerometer [datasets]="magService.datasets"></app-accelerometer>
  </div>
  <div>
    <!-- disconnect button -->
    <ion-button (click)="disconnect()" expand="block">Disconnect</ion-button>
  </div>
</div>
